<?php

require_once(__DIR__.'/../../controller/SeasonsController.php');

$seasonid = $_GET['season'];


$cnt = new SeasonsController();
$season = $cnt->getSeasonById($seasonid);

?><html>
	<head><title>Update season</title></head>
	<body>
		<div id="wrapper">
			<h1>Update season</h1>
			<form action="/forms/modifyseason.phtml" method="post">
				<dl>
					<dt><label for="syear">Year</label></dt>
					<dd><input type="number" name="syear" id="syear" value="<?=$season->getYear()?>"></dd>
					<dt><label for="snchap">Num chapters</label></dt>
					<dd><input type="number" name="snchap" id="snchap" value="<?=$season->getNchapters()?>"></dd>
					<dt><label for="sseason">Season</label></dt>
					<dd><input type="text" name="sseason" id="sseason" value="<?=$season->getSeason()?>"></dd>
					<dd>
						<input type="hidden" name="seasonid" value="<?=$seasonid?>">
						<input type="submit" name="submit" value="Update season">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>