<html>
	<head><title>Series list</title></head>
	<body>
		<div id="wrapper">
			<h1>Add new serie</h1>
			<form action="/forms/add.phtml" method="post">
				<dl>
					<dt><label for="sname">Title</label></dt>
					<dd><input type="text" name="sname" id="sname"></dd>
					<dt><label for="syear">Year</label></dt>
					<dd><input type="number" name="syear" id="syear"></dd>
					<dt><label for="smajor">Major</label></dt>
					<dd><input type="text" name="smajor" id="smajor"></dd>
					<dd><input type="submit" name="submit" value="Add"></dd>
				</dl>
			</form>
		</div>
	</body>
</html>