<?php

require_once(__DIR__.'/../../controller/SeriesController.php');

$title = $_POST['sname'];
$year = $_POST['syear'];
$major = $_POST['smajor'];
$id = $_POST['sid'];

$cnt = new SeriesController();
$serie = $cnt->updateSerie($title, $year, $major, $id);

?><html>
	<head><title>Updated</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$serie->getTitle()?> updated</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>