<?php 
    require_once(__DIR__.'/../controller/PedidosController.php');
    require_once(__DIR__.'/../model/Usuario.php');
    
    $model = new Usuario();
    
    session_start();
?><html>
	<head>
		<title>Comida a domicilio</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="formlogin">
			<?php if($model->isLoggedIn()){
			    //mostrar nombre de usuario
			    include(__DIR__.'/../inc/users/loggedin.phtml');
			}else{
			    //formulario
			    include(__DIR__.'/../inc/users/notloggedin.phtml');
			}
			
			?>
			</div>
			<div id="formpedido">
				<form action="/form/add.phtml" method="post">
					<dl>
						<dt><label for="formres">Restaurante</label></dt>
						<dd><input type="text" id="formres" name="res"/></dd>
						<dt><label for="formpri">Primero</label></dt>
						<dd><input type="text" id="formpri" name="pri"/></dd>
						<dt><label for="formseg">Segundo</label></dt>
						<dd><input type="text" id="formseg" name="seg"/></dd>
						<dt><label for="formpos">Postre</label></dt>
						<dd><input type="text" id="formpos" name="pos"/></dd>
						<dd><input type="submit" value="Crear pedido"/></dd>
					</dl>
				</form>
			</div>
		</div>
	</body>
</html>