<dl>
	<dt><?=$season->getYear()?></dt>
	<dd><?=$season->getNchapters()?></dd>
	<dd><?=$season->getSeason()?></dd>
	<dd><a href="/seasons/modifyseason.phtml?season=<?=$season->getIdseason()?>">Update</a></dd>
	<dd><a href="/seasons/deleteseason.phtml?season=<?=$season->getIdseason()?>">Delete</a></dd>
</dl>
<hr/>
<dl>
	<dt>Title</dt><dd><?=$season->getSerie()->getTitle()?></dd>
	<dt>Year</dt><dd><?=$season->getSerie()->getYear()?></dd>
	<dt>Major</dt><dd><?=$season->getSerie()->getMajor()?></dd>
	<dt>Seasons</dt><dd><?=$season->getSerie()->getNseasons()?></dd>
	
</dl>
<a href="/index.phtml">Back to index</a>